# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Build artifacts
/dist

# Miscellaneous user files
*.user
.vscode
.DS_STORE
package-lock.json